:root {
	/* sizes */
	--block-max-width: 1200px;

	/* fonts */
	--main-font: "Inter", sans-serif;

	/*  colors */
	--color-main: hsl(198, 100%, 44%);
	--color-main-hover: hsl(198, 100%, 50%);
	--color-text: hsl(0, 0%, 100%);
	--color-background: hsl(0, 0%, 20%);
	--color-accent: hsl(341, 80%, 50%);
	--color-accent-hover: hsl(341, 100%, 55%);
}
